html, body {
	height: 100%; margin: 0; padding: 0;
}

#map {
	height: 100%;
	width: 100%;
}

.map-wrapper {
	height: 100%;
}

.dropdown-pane {
	background-color: #ccc;
	color: #000;
	width: 80%;
}

.place-list {
	padding: 0;
	height: 100%;
	background-color: #c2c2c2;
	color: #FFFFF0;
	width: 100%;
}

li {
	list-style: none;
}

ul {
	margin: 0;
}

.place {
	background-color: #36454F;
	border-bottom: 1px solid #FFFFF0;
	padding: 1.5em 2em;
}

.title {
	font-size: 1.75em;
	margin-bottom: 1em;
	border-bottom: 1px solid #000;
}

.desc {
	margin-bottom: 1em;
}	

@media screen and (min-width: 40em) {
	#menubtn {
		display: none;
	}
}